<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="e37" sequenceNumber="3">
<locations>
<location includeAllPlatforms="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.1.M20110909-1335"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.acceleo.sdk.feature.group" version="3.1.1.v20110914-0246"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
</locations>
</target>
