<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.fikovnik.projects.taco.ui.wizard.EcoreDocumentationCategory"
            name="Ecore Documentation">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.fikovnik.projects.taco.ui.internal.preferences.DefaultPreferencePage"
            id="net.fikovnik.projects.taco.ui.preferences.DefaultPreferences"
            name="TACO Preferences">
      </page>
   </extension>

</plugin>
