<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="net.fikovnik.projects.taco.ui.wizard.EcoreDocumentationExportWizard"
            icon="icons/default.gif"
            id="net.fikovnik.projects.taco.ui.wizard.EcoreDocumentationExportWizard"
            name="Ecore Documentation">
      </wizard>
   </extension>

</plugin>
